<nav class="nav">
    <span class="logo">Logo</span>
    <ul class="main-nav">
        <li><a href="current">Inicio</a></li>
        <li><a href="">Proyectos</a></li>
        <li><a href="">Servicios</a></li>
        <li><a href="">Contacto</a></li>
        <li><a href="">Testimonios</a></li>
        <li><a href="">Nosotros</a></li>
    </ul>
    <ul class="social-nav">
        <li><b>Social media:</b></li>
        <li><a href="">Twitter</a></li>
        <li><a href="">Instagram</a></li>
        <li><a href="">Facebook</a></li>
    </ul>
</nav>