@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');
$backgroundColor: #202021;
$bodyColor: #fff;
$bodyFont: 'Montserrat', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 1fr 5fr;

  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: unset;
}

.nav {
  background-color: #141414;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .logo {
    color: white;
    padding: 2em;
  }

  .main-nav, .social-nav {
    padding: 2em;
  }

  .main-nav li {
    padding: .8em 0;
  }

  .social-nav li {
    font-size: .9em;
    padding: .3em 0;
  }

  a{
    color: white; 
  }
  
  .current{
    text-decoration: underline;
    color: #5AEDAF;
  }
}


.watermark {
  position: fixed;
  top: 0;
  right: 10%;
  color: #242424;
  font-size: 10em; 
  letter-spacing: .2em;
  z-index: -1;
  white-space: nowrap;
  overflow: hidden;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

