@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');
$backgroundColor: #202021;
$bodyColor: #fff;
$bodyFont: 'Montserrat', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 1fr 7fr;

  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: unset;
}

main {
  margin-top: 10em;
  padding: 2em;
}

.nav {
  background-color: #141414;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .logo {
    color: white;
    padding: 2em;
  }

  .main-nav, .social-nav {
    padding: 2em;
  }

  .main-nav li {
    padding: .8em 0;
  }

  .social-nav li {
    font-size: .9em;
    padding: .5em 0;
  }

  a{
    color: white;
  }

  .current{
    text-decoration: underline;
    color: #5AEDAF;
  }
}
.heading {
  width: 50%;
}

h1.heading:before {
  content: '';
  position: absolute;
  width: 2em;
  height: 7px;
  top: 5em;
  background-color: #5AEDAF;
}
h1.heading {
  margin-bottom: .7em;
}
p.heading {
  font-size: 1.4em;
}

.watermark {
  position: fixed;
  top: 0;
  right: 10%;
  color: #242424;
  font-size: 10em;
  letter-spacing: .2em;
  z-index: -1;
  white-space: nowrap;
  overflow: hidden;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.fab {
    font-size: 1.5em;
    margin-right: 1em;
}

.projects{
    margin-top: 6em;
    .projects--title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .projects--content {
      display: flex;
      align-items: center;
      a{
        font-size: .9em;
        color: #5AEDAF;
        i{
          margin-left: 1em;
        }
      }
    }

    .projects--card {
      // display: inline-block;
      // white-space: pre-wrap;
      margin-top: 2em;
      margin-right: 2em;
      width: 220px;
      height: 300px;
      background: #191919;
      border-radius: 1em;
    }
}
